@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:wght@300&family=Montserrat:wght@500&family=Onest:wght@300&family=Oswald:wght@300&family=Poppins:wght@300;400&family=Space+Grotesk:wght@500&display=swap');

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Space Grotesk', sans-serif;
        background-color: #fcf7df;
      }
    
}